html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#title {
	width: calc(100vw - 48px);
	padding: 24px;
	font-family: "Trebuchet MS";
	font-size: 50px;
}

#title img {
	height: 50px;
}

#maps {
	height: calc(100vh - 200px);
	width: 100%;
	position: relative;
}

#guessingMap {
	height: 300px;
	width: 500px;
	position: absolute;
	top: 8vh;
	right: 5vw;
	z-index: 20;
	opacity: 0.5;
	transition: opacity 0.2s;
}

#guessingMap:hover {
	opacity: 1.0;
}

#streetView {
	height: 90%;
	z-index: 10;
}

#interface {
	display: flex;
	flex-direction: row;
}

#info {
	padding-left: 24px;
	width: 70%;
	font-family: "Trebuchet MS";
	font-size: 20px;
}

#interface button {
	margin-left: 10px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}

#interface button:hover {
	cursor: pointer;
}
