html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

#maps {
	height: 92vh;
	width: 100%;
	top: 5%;
	position: relative;
}

#guessingMap {
	height: 25%;
	width: 25%;
	position: absolute;
	top: 8vh;
	right: 5vw;
	z-index: 20;
}

#streetView {
	height: 85%;
	z-index: 10;
}

#title {
	height: calc(8vh - 48px);
	width: calc(100vw - 48px);
	padding: 24px;
	font-family: "Trebuchet MS";
	font-size: 50px;
}

#marker {
	bottom: 0px;
	padding: 24px;
	font-family: "Trebuchet MS";
	font-size: 20px;
}

#guess {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 5%;
	width: 5%;
	font-family: "Trebuchet MS";
	font-size: 30px;
}