html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#guessingMap {
	height: 25%;
	width: 25%;
}
#streetView {
	height: 70%;
}

#title {
	font-family: "Trebuchet MS";
	font-size: 50px;
    padding: 24px;
}
